# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vscode/
*.code-workspace

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# TwinCAT specific
_IECst/
_CompileInfo/
_Libraries/
*.tpy
*.tmc
*.compiled-library
*.compileinfo
LineIDs.dbg
*.TMC
*.~u
*.~RF
*.tmp

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Backup files
*.bak
*~